.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
}
input[type='text'] {
  height: 4rem;
  font-size: 2rem;
}
