body {
  background-color: #000;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
button {
  font-size: 2em;
  width: 2.5em;
  height: 2.5em;
}
input[type='text'] {
  font-size: 2em;
  height: 2em;
}
